<!--弹出监控框-->
<div class="cancel modal-backdrops fade" ng-if="addRedHtml"  ng-class="{'in':addRedHtml,'display-block':addRedHtml,'display-none':!addRedHtml}">
	<div class="play-box" style="position: fixed;margin-top: -130px;">
		<div class="tip">
			<button class="closebtn" ng-click="noplayBox()"></button>
		</div>
		<div class="selects t-a-c p-t-40">
			<select class="sexs f-z13 c-9ea4ab" ng-model='addRedLists' ng-change="addReds(addRedLists)" ng-options="v.display_name as v.display_name for v in redListName">
          	</select>
		</div>
		<div class="t-a-c p-t-25">
			<span class="okplay" ng-click = "okplayRed(addRedLists)">是</span>
			<span class="noplay m-l-20" ng-click = "noplayBox()">否</span>
		</div>
	</div>
</div>
<!-- 公用遮罩层  保存、加载... -->
<div style="z-index:1002;opacity: 0;" ng-if="addRedHtml" class="modal-backdrop fade " ng-class="{'in': addRedHtml, 'display-block': addRedHtml, 'display-none':!addRedHtml}"></div>
