<div ng-include="'apps/templates/errcodeBomb.html'"></div>
<div class="accountset m-w-1400 clearfix">
	<div class="w220 fl contentleft">
		<ul class="yijiul f-z16" ng-show = "yijiulshwo">
			<li class="active" ng-click="setting()"><span class="one"></span>账户设置</li>
				<ul class="erjiul">
					<li ng-click="changeul('reset')" ng-class="{true:'activeli',false:''}[changeActiveul == 'reset']">重置密码</li>
					<li ng-click="changeul('receive')" ng-class="{true:'activeli',false:''}[changeActiveul == 'receive']">接收消息方式</li>
				</ul>
		</ul>
		<div class="h-nav-b f-z12 t-a-c">
			<p style="cursor: pointer;" class="h-nav-b-p" ui-sref="tabs.accountset.about" ng-class="{true:'state',false:''}[accountsetName == '/about']">关于胜遇</p>
			<p style="cursor: pointer;" ui-sref="tabs.accountset.statement" ng-class="{true:'state',false:''}[accountsetName == '/statement']">法律声明</p>
		</div>
	</div>
	<div class=" fr contentright" ui-view="" >
		<div id="reset" class="h500">
			<div class="yjgk_title">重置密码</div>
			<div class="content yjgk_content">
				<!--忘记密码start-->
				<div class="login">
					<div class="p-t-32">
						<!--<img src="../apps/images/dl_shoujihao_icon2.png" alt="" />-->
						<img src="apps/images/dl_shoujihao_icon2.png" alt="" />
						<input type="text" placeholder="手机号"/ class="users c-999" id="users" ng-model="users.tel" ng-required="true" disabled="disabled">
					</div>
					<div class="p-t-20">
						<!--<img src="../apps/images/dl_yanzhengma_icon.png" alt="" />-->
						<img src="apps/images/dl_yanzhengma_icon.png" alt="" />
						<input type="text" placeholder="验证码" class="passwords" ng-model="passwords.text"/>
						<p class="gets" ng-click="gets()" ng-bind="code"></p>
					</div>
					<div class="p-t-20">
						<input type="password" placeholder="重置密码（不少于8位，含数字和字母）" class="passwords reset" id="pass" ng-model="pass.text"/>
					</div>
					<div class="p-t-20">
						<input type="password" placeholder="确认密码" class="passwords reset" id="resetpass" ng-model="resetpass.text"/>
					</div>		
					<div class="submits" ng-click="resizesubmits()">确<span></span>定</div>
				</div>
				<!--end-->
			</div>
		</div>
		<div id="receive" class="h500 m-t-30">
			<div class="yjgk_title">接收消息方式</div>
			<div class="content yjgk_content">
				<form action="#" class="content_form"> 
					
					<p ng-repeat="item in items1">
						<input type="checkbox"   ng-model="item.selected" ng-change="selCheck()"/>
						{{item.label}}
					</p>
					<!--<p><input type="checkbox" name="sms" value="sms" checked="checked" ng-model="" />短信</p>-->
					<!--<p><input type="checkbox" name="push" value="push"/>推送</p>
					<p><input type="checkbox" name="mail" value="mail"/>邮件</p>-->
				</form>
				<div class="receive_sub" ng-click="userSet()">确<span></span>定</div>
			</div>
		</div>
	</div>
</div>
