'use strict';

/*
 一切和开发环境有关的配置都放这个文件里做区分
 不要该文件添加到版本控制里
 author xiongyouliang
 date 2016/7/4
 */

app.factory('ENV', function () {
    return {
        //domainName: 'http://mxy.com/',
        //apiurl: 'http://mxy.chinamobo.com/appapi.php/index?r=',
        //userInfo : {enterprise: '魔学院公开课'}
        //apiurl: 'http://mxy.com/appapi.php/index?r=',
        //userInfo : {userid:'33349b03_50b7_980a_c820_754aec93e232', token: 'fab3cf60f63ac922de32e61fc729c558', eid: '1'}
		apiurl: 'http://59.110.25.130:8051/api/index.php?',
    }
});


